<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/saludo" >
    Saludo
  </ion-button>

  <ion-button routerLink="/operaciones">
    Operaciones matemáticas!!!
  </ion-button>

  <ion-button routerLink="/storage">
    Storage
  </ion-button>

  <ion-button routerLink="/test">
    Pruebas
  </ion-button>
  
</ion-content>
